*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:500px;
    font-style:normal;
}
.layout-container{
    position:relative;
    display:flex;
    width: 305px;
    height: 1315px;
    flex-shrink: 0;
    background: #F0F0F6;
}
.sidebar{
    width: 305px;
    height: 1315px;
    flex-shrink: 0;
    background: #FFF;
}
.main_content{
    display:flex;
    flex:1;
}
.right-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 108px;
    height: 1315px;
    background:#FAFAFA;
    box-shadow: 4px 0px 10px 0px rgba(47, 122, 249, 0.10);
}
.profile-img{
    position: relative;
    display: flex;
    justify-content: center;
    top:50px;
    left:74px;
}