*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:500px;
    font-style:normal;
}
.layout-container{
    position: relative;
    display:flex;
    min-height: 100vh;
    background: #F0F0F6;
    width: 1440px;
}
.sidebar{
    
    width: 305px;
    
    background: #FFF;
}
.main_content{
    display:flex;
    flex:1;

}
.right-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 108px;
    flex-shrink: 0;
    min-height: 100vh;
    background:#FAFAFA;
    padding-top: 0px;
   margin-left: 27px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-img{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding-left: 74px;
    padding-top: 50px;
    padding-right: 81;
    margin-bottom: 25px;
}
 .img-profile{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    object-fit: cover;
 }
 .avai-profile{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding-top:116px;
    margin-left:-38;
 }
.name{
    display: flex;
    justify-content: center;
    color: #2B2B2B;
    font:normal 500 18px Inter;
    line-height: 22.248px;
    text-transform: capitalize;
    margin-top: 31px;
    margin-bottom: 15px;
}
.title{
    color: #767676;
    font:normal 400 15px Inter;
    line-height:24px;
    text-transform:capitalize;
    font-kerning: none;
    font-feature-settings: 'calt' off; 
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.profile-avai{
    display: flex;
    position:relative;
    padding-top: 116px;
    padding-right: 91px;
}
.profile-app{
    display: flex;
    position:relative;
    padding-left: 45px;
    gap:15px;
}
.layout-icon img{
    width:14px;
    height: 14px;
}
.layout-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#FFB400;
        width:24px; height:24px;
        border-radius:100%;
        margin-bottom: 30px;
}
.line{
    position: relative;
    width: 220px;
    height: 1.5px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
}
.personal-infor{
    color: #2B2B2B;
    font: normal 400 15px Inter;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    padding-left: 45px;
}
.row1{
    display: flex;
    gap: 163px;
    align-items: center; 
    margin-bottom: 10px;
}
 .row2{
    display: flex;
    gap: 116px;
    align-items: center;
     margin-bottom: 10px;
}
.row3{
    display: flex;
    gap: 76px;
    align-items: center;
    margin-bottom: 10px;
}
.row3 .value-label{
    color:#7EB942;
}
.row4 {
    display: flex;
    gap: 20px;
    align-items: center; 
    margin-bottom: 25px;
} 
.label{
    
    width: auto;
    height: 24px;
    background: #FFB400;
    justify-content: center;
    display: flex;
}
.skill-section{
    position: relative;
    color: #2B2B2B;
    font: normal 500 18px Inter;
    padding-left: 40px;
    margin-bottom: 15px;
}


.skill-bar{
    display: flex;
    justify-content: space-between;
    position: relative;
    color: #767676;
    font:normal 400 15px Inter;
    padding-left: 40px;
    margin-right: 45px;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    margin-bottom: 5px;
}
.line-percent{
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
}
.icon{
    width:15px;
    height:15px
}
.extra-skill{
    display: flex;
    position: relative;
    color: #767676;
    font:normal 400 15px Inter;
    line-height: 24px;
    text-transform: capitalize;
    padding-left: 40px;
    gap:15px;
    margin-bottom: 5px;
    text-transform:capitalize;
}
.download{
    display: flex;
    position: relative;
    background: #FFB400;
    width: 220px;
    height:40px;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 40px;
}
.download p{
    width: 108px;
    height: 19.429px;
    font:normal 600 14px Inter;
    line-height: normal;
    text-transform: uppercase;
}
.down{
    width: 14px;
    height: 16px;
    
}
/* phan main content */
.profile-introduce{
    display: flex;
    position: relative;
    background: #FFF;
    width: 970px;
    height: 467px;
    margin-left: 30px;
    margin-right: 27px;
}
.intro1{
    position: relative;
    font: normal 1 48px Inter;
    
    padding-top: 93px;
    line-height: 123.6%;
}
.text-color{
    display: flex;
}
.intro2{
    display: flex;
    position: relative;
    width: 424px;
    height: 88px;
    font: normal 400 16px Inter;
    line-height: 24px;
    text-transform: capitalize;
    color: #767676;
    margin-top: 18px;
    margin-bottom: 25px;
    font-kerning: none;
    font-feature-settings: 'calt' off;
}
.hire{
    display: flex;
    position: relative;
    background:#FFB400;
    width:154px;
    height: 51px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.frame{
    display: flex;
    width: 16px;
    height: 16px;
    text-align: center;
}
.hir{
    color: #2B2B2B;
    font: normal 500 16px Inter;
    line-height: normal;
}
.photo-intro{
    display: flex;
    position: relative;
    padding-top: 8px;
    padding-right: 57.6px;
    width: 325.719px;
    height: 459.09px;
    background:lightgray;
}
.ellipse13{
    position: relative;
    width: 16px;
    height: 16px;
    stroke-width: 2px;
    padding-top: 30px;
    padding-left: 40px;
}
.ellipse16{
    position: relative;
    width: 16px;
    height: 16px;
    stroke-width: 2px;
    padding-top: 52px;
}
.ellipse16a{
    position: relative;
    width: 16px;
    height: 16px;
    stroke-width: 2px;
    margin-top: 29px;
    padding-left: 88px;
}
.rectangle52{
    position: relative;
    width: 16px;
    height: 16px;
    stroke-width: 2px;
    padding-left: 373.8px;
}
.ellipse13a{
    position: relative;
    width: 16px;
    height: 16px;
    stroke-width: 2px;
    padding-top: 379.96px;
}
.rectangle51{
    position: relative;
    width: 16px;
    height: 16px;
    stroke-width: 2px;
    padding-top: 69.66px;
}
.polygon{
    position: relative;
    width: 16px;
    height: 16px;
    stroke-width: 2px;
    padding-top:427px ;
    padding-right: 24px;
}